#player-score, #comp-score {
    display: grid;
    background: rgb(226, 226, 226);
    border: 10px solid darkgray;
    border-radius: 9px;
    padding: 0px 5px 0px 5px;
}
.score {
    background: red;
    display: flex;
    height: 180px;
    width: auto;
    align-items: center;
    justify-content: space-around;
}

.btns {
    display: flex;
    justify-content: space-around;
    margin-top: 15px;
}

#rock-btn, 
#paper-btn, 
#scissors-btn {
    width: 400px;
    height: 275px;
    background: rgb(172, 170, 170);
    border-radius: 0px 40px 0px 40px;
} 
img {
    width: 380px;
    height: 270px;
}

#rock-btn:hover, 
#paper-btn:hover, 
#scissors-btn:hover {
    transition: .4s;
    background: rgb(214, 213, 213);
}

#rock-btn:active, 
#paper-btn:active, 
#scissors-btn:active {
    transition: .02s;
    background: rgb(66, 66, 66);
}
