#bod{
    background-color: #0B2447;
}
#player-score, #comp-score, #counter {
    background: #A5D7E8;
    border: 10px solid #bee7f5;
    border-radius: 9px;
    padding: 0px 5px 0px 5px;
}
.score {
    background: #576CBC;
    display: flex;
    height: 280px;
    border-radius: 0px 0px 30px 30px;
    width: auto;
    align-items: center;
    justify-content: space-around;
}
.reset {
    display: flex;
    margin: auto;
    align-items: center;
    justify-content: center;
    width: auto;
    height: 130px;
    transition: all 0.4s;
}

.inputs {
    display: flex;
    justify-content: space-around;
    margin-top: 25px;
}

.item {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: 'Trebuchet MS', sans-serif;
    font-size: 23px;
    width: 140px;
    height: 140px;
    border-radius: 0px 45px 0px 45px;
    background-color: #F6F1F1;
    transition: all 250ms ease-in;
}
.item:hover {
    transition: .4s;
    scale: 1.1;
    background-color: coral;
    color: white;
}
.item:active {
    transition: 300ms;
    background-color: red;
    color: black;
}

#pCountNum, #cCountNum, #counter {
    text-align: center;
}
