#player-score, #comp-score {
    display: grid;
    background: rgb(226, 226, 226);
    border: 10px solid darkgray;
    border-radius: 9px;
    padding: 0px 5px 0px 5px;
}
.score {
    background: red;
    display: flex;
    height: 180px;
    width: auto;
    align-items: center;
    justify-content: space-around;
}

.btns {
    display: flex;
    justify-content: space-evenly;
}

